﻿
@{
    ViewBag.Title = "barinaklar";
}
<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        th {
            background-color:#006666 ;
            color: white;
        }
    </style>
</head>
      <header class="entry-header">
</header>
<div class="clearfix entry-content">
    <b><h1>TÜRKİYEDEKİ HAYVAN BARINAKLARI</h1></b>
    <p>Sİtemizin bölümünde  sizlerle Türkiyedeki barınakların listesini paylaşmaktayız.
     Hayvan Dostlarımızı sahiplenebilir ,onlara mama yardımında bulunabilirsiniz..</p>
    <p> <img  class="well-sm"  src="~/resim/kedibarinak.jpg" width="447" height="200" ></p>
    <h2>MARMARA BÖLGESİ HAYVAN BARINAKLARI</h2>

    <table>
        <tr>
            <th>ŞEHİRLER</th>
            <th>BARINAK İSMİ</th>
            <th>ADRESİ</th>
        </tr>
        <tr>
            <td>İSTANBUL</td>
            <td> bakırköy belediyesi sokak hayvanları geçici bakımevi </td>
            <td> Ataköy 9.kısım dünya ticaret merkezi arkası Tel:0212 414 97 77</td>
        </tr>
        <tr>
            <td>İSTANBUL</td>
            <td>  Bayrampaşa Belediyesi Barınağı:</td>
            <td> Cevatpaşa Mahallesi, Fidanlık Mevkii Bayrampaşa (fidanlığın içinde) 0212 544 73 62</td>
        </tr>
        <tr>
            <td>İSTANBUL</td>
            <td> Beyoğlu Belediyesi Rehabilitasyon Merkezi: </td>
            <td>Bademli Mevkii, Musevi Mezarlığı’nın içi, Sütlüce  0212 210 22 22</td>
        </tr>
        <tr>
            <td>İSTANBUL</td>
            <td>Büyükçekmece Sahipsiz Hayvanlar Bakım, Tedavi ve Rehabilitasyon Merkezi</td>
            <td> Çakmaklı Köyü altı, Büyükçekmece</td>
        </tr>
      
        <tr>
    <td>İSTANBUL</td>
    <td>Esenler Belediyesi Rehabilitasyon Merkezi</td>
    <td>Çiftehavuzlar Mah. Sarıgöl Cad. No.12 Esenler 0212 482 41 16</td>
</tr>
        <tr>
    <td>İSTANBUL</td>
    <td>Gaziosmanpaşa Belediyesi Küçükköy Rehabilitasyon Merkezi</td>
    <td>Karayolları Mah. 568. Sok. No.15 Gaziosmanpaşa 0212 479 47 65</td>
</tr>
        <tr>
    <td>İSTANBUL</td>
    <td>İstanbul Büyükşehir Belediyesi Hasdal Rehabilitasyon Merkezi</td>
    <td>E6 Kemerburgaz/Göktürk yolu üzeri,Kemerburgaz 0212 360 29 19</td>
</tr>
        <tr>
    <td>İSTANBUL</td>
    <td> Mimar Sinan Belediyesi Hayvan Barınağı</td>
    <td>Total Benzin İstasyonu Arkası, Mimar Sinan 0212 883 91 75</td>
</tr>
        <tr>
    <td>İSTANBUL</td>
    <td> Silivri Belediyesi Rehabilitasyon Merkezi</td>
    <td>Yirikçayırı Mevkii, Silivri 0212 727 18 63</td>
</tr>
        <tr>
    <td>İSTANBUL</td>
    <td> Fatih Belediyesi Yedikule Hayvan Barınağı</td>
    <td>Sahil Yolu (Kennedy Cad.) Surdibi, Eski Havagazı Deposu 0212 633 58 57</td>
</tr>
        <tr>
    <td>İSTANBUL</td>
    <td>   Adalar Belediyesi Büyükada Hayvan Barınağı</td>
    <td>Atahırları Mevkii, Büyük Tur Yolu, Büyükada</td>
</tr>
        <tr>
    <td>İSTANBUL</td>
    <td>  Beykoz Belediyesi Hayvan Barınağı</td>
    <td>Mahmut Şevket Paşa Köyü yolu üzeri, 10 km, Beykoz</td>
</tr>
        <tr>
    <td>İSTANBUL</td>
    <td>  Ümraniye Belediyesi Rehabilitasyon Merkezi</td>
    <td>Hekimbaşı Mevkii, Küçüksu Yolu, Ümraniye 0216 630 20 01</td>
</tr>
        <tr>
    <td>İSTANBUL</td>
    <td> Şile Belediyesi Hayvan Barınağı</td>
    <td>Şile Yolu Ağva Girişi 50mt, Şile 0216 711 22 74</td>
</tr>
        <tr>
    <td>İSTANBUL</td>
    <td>  Üsküdar Belediyesi Sokak Hayvanları Barındırma ve Rehabilitasyon Merkezi</td>
    <td>Hekimbaşı Mevkii, Küçüksu Yolu, Kati Atık Tesisleri yanı, Ümraniye</td>
</tr>
        <tr>
    <td>BURSA</td>
    <td>Bursa THKD Karacabey Ovakorusu Ayı Barınağı Nilüfer Belediyesi Hayvan Hastanesi Bakım ve Barınma Merkezi </td>
    <td>0224 280 82 50</td>
</tr>
        <tr>
    <td>BURSA</td>
    <td>Osmangazi Belediyesi Sahipsiz Hayvanlar Doğal Yaşam Merkezi: </td>
    <td>Hamitler Mah. Kent Mezarlığı yanı 5. km 0224 241 41 04</td>
</tr>
        <tr>
    <td>EDİRNE</td>
    <td>Edirne Belediyesi Sokak Hayvanları Geçici Bakımevi </td>
    <td>Olin yağ fabrikası yanından girilip, tren yolu geçildikten sonra 2 km uzaklıkta 0284 235 52 31</td>
</tr>
        <tr>
    <td>KIRKLARELİ</td>
    <td>Lüleburgaz Hayvan Barınağı Lüleburgaz Belediyesi Hayvan Barınağı </td>
    <td>İstasyon Mevkii, İstasyon Cad, Eski Mezbaha Arkası</td>
</tr><tr>
    <td>KOCAELİ </td>
    <td>Kocaeli Sokak Hayvanlarını Rehabilite Hizmetleri ve Geçici Bakımevi </td>
    <td>D-100 Karayolu Kentsa Girişi, Karatepe</td>
</tr><tr>
    <td>TEKİRDAĞ</td>
    <td> Tekirdağ Belediyesi Sahipsiz Hayvan Toplama ve Islah Merkezi </td>
    <td>Hayrabolu Üzeri, Hayvan Hastanesi Altı, Tekirdağ 0282 262 36 26</td>
</tr>
    </table>
    <h2>EGE  BÖLGESİ HAYVAN BARINAKLARI</h2>
    <table>
        <tr>
            <th>ŞEHİRLER</th>
            <th>BARINAK İSMİ</th>
            <th>ADRESİ</th>
        </tr>
        <tr>
            <td>İZMİR</td>
            <td> Aliağa Belediyesi Sokak Hayvanları Rehabilitasyon Merkezi</td>
            <td>Çaltıdere Köyü, Aliağa 0232 616 19 80</td>
        </tr>
        <tr>
            <td>İZMİR</td>
            <td> Çeşme Belediyesi Hayvan Barınağı</td>
            <td>Belkent Arkası, Çeşme 0232 723 06 34</td>
        </tr>
        <tr>
            <td>İZMİR</td>
            <td> İzmir Büyükşehir Belediyesi Işıkkent Barınağı</td>
            <td>64 hat numaralı otobüslerle ulaşılabilir 0232 437 02 08</td>
        </tr>
        <tr>
            <td>KÜTAHYA</td>
            <td>Kütahya Belediyesi Hayvan Bakım Evi</td>
            <td>Tavşanlı Çevreyolu, Kamyon Garajı Üstü, Kütahya 0274 223 60 12</td>
        </tr>
        <tr>
    <td>MANİSA</td>
    <td> Manisa Belediyesi Tedavi ve Bakım Merkezi</td>
    <td>Barbaros Mahallesi, Manisa 0236 234 31 30</td>
</tr><tr>
    <td>MUĞLA</td>
    <td> Dalyan Belediyesi Geçici Hayvan Rehabilite Merkezi</td>
    <td>Gürpınar Mah. Dalyan</td>
</tr><tr>
    <td>MUĞLA</td>
    <td>Marmaris Belediyesi Hayvan Rehabilitasyon Merkezi</td>
    <td> Otobüs Terminali Arkası, Marmaris 0252 413 98 82</td>
</tr><tr>
    <td>BODRUM</td>
    <td>BHDD Bodrum Hayvan Barınağı</td>
    <td>0252 316 33 03</td>
</tr>
    </table>
    
    <h2> AKDENİZ BÖLGESİ HAYVAN BARINAKLARI</h2>

    <table>
        <tr>
            <th>ŞEHİRLER</th>
            <th>BARINAK İSMİ</th>
            <th>ADRESİ</th>
        </tr>
        <tr>
            <td>ADANA </td>
            <td>Adana Büyükşehir Belediyesi DOHAYKO Hayvan Barınağı</td>
            <td>Balçalı arkası, Hekimköy yolu üzeri, Yüregir 0322 338 62 25</td>
        </tr>
        <tr>
            <td>ANTALYA </td>
            <td>Antalya Belediyesi Sahipsiz Hayvan Barınağı</td>
            <td>Antalya Büyükşehir Bld. Kepezaltı 0242 332 53 18</td>
        </tr>
        <tr>
            <td>KAHRAMANMARAŞ</td>
            <td>Göksun Belediyesi Hayvan Bakımevi </td>
            <td>0344 714 19 12</td>
        </tr>
        <tr>
            <td>KAHRAMANMARAŞ</td>
            <td> Türkoğlu Belediyesi Hayvan Bakımevi Fizik Tedavi ve Rehabilitasyon Merkezi</td>
            <td>Arkası, Türkoğlu 0344 618 10 05</td>
        </tr>
    </table>


    <h2>KARADENİZ BÖLGESİ HAYVAN BARINAKLARI</h2>

    <table>
        <tr>
            <th>ŞEHİRLER</th>
            <th>BARINAK İSMİ</th>
            <th>ADRESİ</th>
        </tr>
        <tr>
            <td>BARTIN</td>
            <td>Bartın Belediyesi Geçici Hayvan Bakımevi </td>
            <td>İnkumu Yolu Gürgepınarı MevkiiBartın, 0378 227 25 11</td>
        </tr>
      
        <tr>
            <td>GİRESUN</td>
            <td>Giresun Belediyesi Hayvan Barınağı</td>
            <td>Etbaşağı Mevkii Seka 0454 216 39 80</td>
        </tr>
        <tr>
            <td>SİNOP</td>
            <td>  Sinop Belediyesi Hayvan Barınağı</td>
            <td>Ada Mevkii 0368 261 18</td>
        </tr><tr>
    <td>TRABZON</td>
    <td>Trabzon Belediyesi Hayvan Barınağı</td>
    <td>Çukurçayır Beldesi Girişi</td>
</tr><tr>
    <td>TRABZON</td>
    <td>Trahayko- Trabzon Hayvanları Koruma ve Yaşatma Derneği Hayvan Barınağı</td>
    <td>Gazipaşa Mahallesi, Zeytin Sokak, No:10</td>
</tr><tr>
    <td>ZONGULDAK</td>
    <td> Zonguldak İl Özel İdaresi Geçici Hayvan Bakımevi</td>
    <td>Zonguldak-Ankara Karayolu, Çardak Mevkii, Zonguldak 0372 268 10 54</td>
</tr>
    </table>
    <h2>İÇ ANADOLU BÖLGESİ HAYVAN BARINAKLARI</h2>

<table>
    <tr>
        <th>ŞEHİRLER</th>
        <th>BARINAK İSMİ</th>
        <th>ADRESİ</th>
    </tr>
    <tr>
        <td>ANKARA</td>
        <td>Çankaya Belediyesi Sahipsiz Hayvan Rehabilitasyon Merkezi</td>
        <td>Mühye Köyü, Yeşilkent Mahallesi 0312 442 37 18</td>
    </tr>
    <tr>
        <td>ANKARA</td>
        <td>Cemil Erkök Rehabilitasyon Merkezi</td>
        <td>Çubuk Sirkeli Yolu, Kızılca Köyü 0312 215 15 55</td>
    </tr>
    <tr>
        <td>ANKARA</td>
        <td>Meliha Yılmaz Vakfı Gölbaşı Hayvan Barınağı</td>
        <td>Gölbaşı Sanayi Sitesi Arkası, Gölbaşı</td>
    </tr>
    <tr>
        <td>ESKİŞEHİR</td>
        <td>Eskişehir Hayvan Barınağı - Odunpazarı Belediyesi Hayvan Sağlık Merkezi </td>
        <td>Altuyolu 12.km, Eskişehir 0222 236 19 70</td>
    </tr>
    <tr>
    <td>KAYSERİ</td>
    <td>Kayseri Belediyesi Hayvan Bakımevi ve Rehabilitasyon Merkezi</td>
    <td>0352 207 15 95</td>
</tr>
    <tr>
    <td>NİĞDE</td>
    <td>Niğde Belediyesi Geçici Hayvan Bakımevi</td>
    <td>burçak çayır mevkii, niğde</td>
</tr>
</table>
    <h2> GÜNEYDOĞU ANADOLU BÖLGESİ HAYVAN BARINAKLARI</h2>

    <table>
        <tr>
            <th>ŞEHİRLER</th>
            <th>BARINAK İSMİ</th>
            <th>ADRESİ</th>
        </tr>
        <tr>
            <td>DİYARBAKIR</td>
            <td> Diyarbakır Büyükşehir Belediyesi Hayvan Bakımevi ve Rehabilitasyon Merkezi</td>
            <td>Ergani Yolu 20 km. Diyarbakır</td>
        </tr>
        <tr>
            <td>MARDİN</td>
            <td>Mardin Belediyesi Hayvan Bakımevi</td>
            <td>Eryeri Köy Yolu, Mardin Cezaevi Altı. Mardin 0482 212 10 49</td>
        </tr>
       
    </table>
  
</div>

