﻿@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="row">
    <div class="col-md-6">
 
        <form action="iletisim" method="post" cnovalidate="novalidate">
            <p>
                Adınız:<br />
                <span><input type="text" name="adsoyad" value="" size="100" aria-required="true"  aria-invalid="false" /></span>
            </p>
            <p>
                Epostanız:<br />
                <span><input type="email" name="email" value="" size="100" aria-required="true"   aria-invalid="false" /></span>
            </p>
            <p>
                Telefon:<br />
                <span><input type="tel" name="telefon" value="" size="100" aria-invalid="false" /></span>
            </p>
            <p>
                İletiniz:<br />
                <span><textarea name="mesaj" cols="100" rows="10" aria-invalid="false"></textarea></span>
            </p>
            <p><input type="submit" value="Gönder"  /></p>
        </form>
        </div>
        <div class="col-md-6">
            <address>
                <strong>Mail:</strong>   <a href="kedisever@gmail.com">kedisever@gmail.com</a><br />
            </address>
            <div class="container">
                <br>
                <div id="myCarousel" class="carousel slide" data-ride="carousel">

                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>

                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/resim/kedi1.jpg" kedi" width="1500" height="345">
                        </div>

                        <div class="item">
                            <img src="~/resim/kedi2.jpg" alt="Chania" width="1500" height="200">
                        </div>

                        <div class="item">
                            <img src="~/resim/kedi3.jpg" alt="Flower" width="1500" height="200">
                        </div>

                        <div class="item">
                            <img src="~/resim/kedi4.jpg" alt="Flower" width="1500" height="200">
                        </div>
                    </div>

                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

