﻿@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <br>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <div class="carousel-inner" role="listbox" >
            <div class="item active">
                <img src="~/resim/kedi1.jpg"Kedi" width="1200" height="345">
            </div>

            <div class="item">
                <img src="~/resim/kedi2.jpg" alt="Chania" width="1200" height="200">
            </div>

            <div class="item">
                <img src="~/resim/kedi3.jpg" alt="Flower" width="1200" height="200">
            </div>

            <div class="item">
                <img src="~/resim/kedi4.jpg" alt="Flower" width="1200" height="200">
            </div>
        </div>

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <b><h2>Kediler Hakkında İlginç Bİlgiler</h2></b>
        <p>
         Birbirinden farklı tuhaf bilgiler için tıklayınız...
        </p>
        <p><a class="btn btn-info text-center" href="https://www.youtube.com/watch?v=q1kFuHirK_k">Tıkla! &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <b><h2>Komik Kedi Videoları </h2></b>
        <p>Komik Kedi videoları için tıklayınız....</p>
        <p><a class="btn btn-info text-center" href="https://www.youtube.com/watch?v=mvBCO1xGDw4">Tıkla! &raquo;</a></p>
    </div>
  
</div>