﻿
@{
    ViewBag.Title = "kedishop";
}

<head>
    <style>
div.img {
    border: 1px solid #ccc;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
    </style>
</head>


    <h2>KEDİLER İÇİN SÜS EŞYALARI</h2>
    <h4>Eğlenceli ev ortamı...</h4>
<div class="text-primary text-center"><p><b><h3>KEDİ OYUNCAKLARI</h3></b> </p></div>
    <div class="responsive">
        <div class="img">
            <a target="_blank" href="~/resim/kedioyuncak1.jpg">
                <img src="~/resim/kedioyuncak1.jpg" alt="Trolltunga Norway" width="400" height="300">
            </a>
            <div class="desc"> Sünger Top Kedi Oyuncağı 4cm</div>
            <div class="text-center"><form><b> 4,99 TL</b><input type="submit" class="btn-primary"value="Satın Al" size="500"/></form></div>
        </div>
    </div>

<div class="responsive">
    <div class="img">
        <a target="_blank" href="~/resim/kedioyuncak2.jpg">
            <img src="~/resim/kedioyuncak2.jpg" alt="Trolltunga Norway" width="400" height="300">
        </a>
        <div class="desc">Peluş Fare Kedi Oyuncağı 5cm</div>
        <div class="text-center"><form><b> 5,99 TL</b><input type="submit" class="btn-primary" value="Satın Al" size="500" /></form></div>
    </div>
</div>
    
<div class="responsive">
    <div class="img">
        <a target="_blank" href="~/resim/kedioyuncak3.jpg">
            <img src="~/resim/kedioyuncak3.jpg" alt="Trolltunga Norway" width="400" height="250">
        </a>
        <div class="desc">Zilli Kedi Otlu Peluş Kedi Oyuncağı</div>
        <div class="text-center"><form><b> 4,45 TL</b><input type="submit" class="btn-primary" value="Satın Al" size="500" /></form></div>
    </div>
</div>

<div class="responsive">
    <div class="img">
        <a target="_blank" href="~/resim/kedioyuncak4.jpg">
            <img src="~/resim/kedioyuncak4.jpg" alt="Trolltunga Norway" width="400" height="250">
        </a>
        <div class="desc"> Kauçuk Kirpi Top Kedi Oyuncağı</div>
        <div class="text-center"><form><b> 3,99 TL</b><input type="submit" class="btn-primary" value="Satın Al" size="500" /></form></div>
    </div>
</div>
<div class="text-primary text-center"><p><b><h3>KEDİ YATAKLARI</h3></b> </p></div>
<div class="responsive">
    <div class="img">
        <a target="_blank" href="~/resim/kedievi1.jpg">
            <img src="~/resim/kedievi1.jpg" alt="Trolltunga Norway" width="400" height="300">
        </a>
        <div class="desc">Pawie Kumaş Lüks Kedi ve Küçük Irk Köpek Kulübesi/Yuvası 40x42x42cm</div>
        <div class="text-center"><form><b> 96.50 TL</b><input type="submit" class="btn-primary" value="Satın Al" size="500" /></form></div>
    </div>
</div>

<div class="responsive">
    <div class="img">
        <a target="_blank" href="~/resim/kedievi2.jpg">
            <img src="~/resim/kedievi2.jpg" alt="Trolltunga Norway" width="400" height="300">
        </a>
        <div class="desc">Trixie Peluş Radyatör için Kedi Yatağı [XL] 58cm)</div>
        <div class="text-center"><form><b> 96.50 TL</b><input type="submit" class="btn-primary" value="Satın Al" size="500" /></form></div>
    </div>
</div>

<div class="responsive">
    <div class="img">
        <a target="_blank" href="~/resim/kedievi3.jpg">
            <img src="~/resim/kedievi3.jpg" alt="Trolltunga Norway" width="400" height="300">
        </a>
        <div class="desc">Trixie Kedi ve Küçük Irk Köpek Yatağı 55x45cm (Gri)</div>
        <div class="text-center"><form><b> 96.50 TL</b><input type="submit" class="btn-primary" value="Satın Al" size="500" /></form></div>
    </div>
</div>
<div class="responsive">
    <div class="img">
        <a target="_blank" href="~/resim/kedievi4.jpg">
            <img src="~/resim/kedievi4.jpg" alt="Trolltunga Norway" width="400" height="300">
        </a>
        <div class="desc">Pawie Çift Çatılı Kedi Yuvası 51x26x37cm (Kahverengi)</div>
        <div class="text-center"><form><b> 96.50 TL</b><input type="submit" class="btn-primary" value="Satın Al" size="500" /></form></div>
    </div>
</div>
<div class="text-primary text-center"><p><b><h3>KEDİ TASMALARI</h3></b> </p></div>

<div class="responsive">
    <div class="img">
        <a target="_blank" href="~/resim/keditasması1.jpg">
            <img src="~/resim/keditasması1.jpg" alt="Trolltunga Norway" width="400" height="300">
        </a>
        <div class="desc">Trixie Leopar Desenli Kedi Tasması( 28cm)</div>
        <div class="text-center"><form><b> 10.99 TL</b><input type="submit" class="btn-primary" value="Satın Al" size="500" /></form></div>
    </div>
</div>
<div class="responsive">
    <div class="img">
        <a target="_blank" href="~/resim/keditasması2.jpg">
            <img src="~/resim/keditasması2.jpg" alt="Trolltunga Norway" width="400" height="300">
        </a>
        <div class="desc">Trixie Kedi Göğüs Tasma Seti 24-42cm (Siyah)</div>
        <div class="text-center"><form><b> 65.45 TL</b><input type="submit" class="btn-primary" value="Satın Al" size="500" /></form></div>
    </div>
</div>
<div class="responsive">
    <div class="img">
        <a target="_blank" href="~/resim/keditasması3.jpg">
            <img src="~/resim/keditasması3.jpg" alt="Trolltunga Norway" width="400" height="300">
        </a>
        <div class="desc">Trixie Bandanalı Zilli Kedi Tasması (Kırmızı)</div>
        <div class="text-center"><form><b> 12.75 TL</b><input type="submit" class="btn-primary" value="Satın Al" size="500" /></form></div>
    </div>
</div>
<div class="responsive">
    <div class="img">
        <a target="_blank" href="~/resim/keditasması4.jpg">
            <img src="~/resim/keditasması4.jpg" alt="Trolltunga Norway" width="400" height="300">
        </a>
        <div class="desc">Trixie Bandanalı Zilli Kedi Tasması (Siyah)</div>
        <div class="text-center"><form><b> 12.75 TL</b><input type="submit" class="btn-primary" value="Satın Al" size="500" /></form></div>
    </div>
</div>
<div class="text-primary text-center"><p><b><h3>KEDİ MAMA/SU KAPLARI</h3></b> </p></div>
<div class="responsive">
    <div class="img">
        <a target="_blank" href="~/resim/kedimamasu.jpg">
            <img src="~/resim/kedimamasu.jpg" alt="Trolltunga Norway" width="400" height="300">
        </a>
        <div class="desc">Trixie Kedi Seramik Mama&Su Kabı Seti 300ml x 2</div>
        <div class="text-center"><form><b> 55.95 TL</b><input type="submit" class="btn-primary" value="Satın Al" size="500" /></form></div>
    </div>
</div>
<div class="responsive">
    <div class="img">
        <a target="_blank" href="~/resim/kedimamasu2.jpg">
            <img src="~/resim/kedimamasu2.jpg" alt="Trolltunga Norway" width="400" height="300">
        </a>
        <div class="desc">Trixie Kedi Paslanmaz Mama&Su Kabı 0.3lt/ø12cm (Gri)</div>
        <div class="text-center"><form><b> 44.95 TL</b><input type="submit" class="btn-primary" value="Satın Al" size="500" /></form></div>
    </div>
</div><div class="responsive">
    <div class="img">
        <a target="_blank" href="~/resim/kedimamasu3.jpg">
            <img src="~/resim/kedimamasu3.jpg" alt="Trolltunga Norway" width="400" height="300">
        </a>
        <div class="desc">Trixie Kedi Seramik Mama&Su Kabı 200ml/ø 13cm (Mavi)</div>
        <div class="text-center"><form><b> 19.95TL</b><input type="submit" class="btn-primary" value="Satın Al" size="500" /></form></div>
    </div>
</div>
<div class="responsive">
    <div class="img">
        <a target="_blank" href="~/resim/kedimamasu4.jpg">
            <img src="~/resim/kedimamasu4.jpg" alt="Trolltunga Norway" width="400" height="300">
        </a>
        <div class="desc">Trixie Paslanmaz Kedi Mama&Su Kabı 250ml - 12cm (Beyaz)</div>
        <div class="text-center"><form><b> 23.95TL</b><input type="submit" class="btn-primary" value="Satın Al" size="500" /></form></div>
    </div>
</div>