﻿
@{
    ViewBag.Title = "kedilerhakkinda";
    }

                    <header class="entry-header">
                        <h1 class="entry-title">Kedilerin En Sevdiği Şeyler</h1>
                    </header>

                    <div class="clearfix entry-content">
                        <p>Bu yazımızda tartışmasız hemen hemen her evcil kedinin hoşuna giden oyun ve oyuncaklardan, yiyeceklerden ve müziklerden bahsedeceğiz.</p>
                        <p><img class="aligncenter" src="~/resim/kedi8.jpg"  width="447" height="397"  </p>
                        <ul>
                            <li><span style="color: #ff0000;"><strong>Kedilerin En Sevdiği Oyun ve Oyuncaklar</strong></span></li>
                        </ul>
                        <p style="text-align: justify;">Kedilerin şüphesiz ki en sevdiği aktivitelerin(uyumak ve yemek yemek)başında oyun oynamak gelir.
                         Bu bir oyuncakla, başka bir evcil hayvanla, sahibiyle ya da kendi kuyruğuyla; kısacası herhangi bir şeyle olabilir.
                         Bir şeyin kedilerin oyun oynayabileceği bir şey olması için dikkatini çekmesi ve o an enerjisinin yerinde olması yeterlidir.
                         Şüphesiz ki en çok sevdikleri oyun saklanmak ve yakalamaktır. 
                        Her zaman deriz ki avcılık içgüdüleri her daim vardır ve yok edilemez. 
                        Saklanma ve yakalama en çok haz aldığı oyunlardandır. Hareket eden şeylere ayrı bir ilgi gösterirler. 
                        Sinek vb. böcekleri takip edip, yakalamaya bayılırlar.Baloncuk çıkartan oyuncaklara hasta kalırlar. 
                        Birçoğu lazer ışığından çıkan o küçük noktayı yakalamak için oradan oraya koşturur. 
                        Topun her türlüsünü ağızlarının suyu akar.Pinpon topu, kağıttan top;alüminyum folyodan yapılan top; 
                        kısacası ağızlarına alabilecekleri boyuttaki her top onlar için ideal oyuncaktır.
                        İpin ucunda çıngıraklı sallanan toplar, balonlar, naylon poşetler, kutular vb. şeyler kedinizin favori oyuncaklarıdır.</p>
                        <p><strong>Not:</strong>Ucu sivri, kimyasal içerikli vb. her türlü tehlikeli oyuncağa kedinizin ulaşamayacağı bir yere koyun.</p>
                        <p><img class="aligncenter" src="~/resim/kedi5.jpg" width="447" height="397"></p>
                        <ul>
                            <li><span style="color: #ff0000;"><strong>Kedilerin En Sevdiği Yiyecekler</strong></span></li>
                        </ul>
                        <p style="text-align: justify;">Birçoğumuz evcil kedisini kuru mama ve zaman zaman ödül niyetine yaş mamayla besliyor. 
                        Bu nedenle bazen evdeki yiyeceklerden aşıran kedinizin kusma sahnelerine şahit oluyoruz.
                         Çünkü alışkın oldukları bir şey değil.
                         Kediler diğer evcil hayvanlara göre gerek kuru mamada gerekse yaş mamada oldukça seçici davranırlar.
                        Ağızlarının tadını pek de iyi bilirler. Kokusundan hoşlanmadığı şeyi her ne kadar aç da olsa yemezler.
                         Ayrıca kedilerin sindirim sisteminin bizlerinkinden daha farklı ve hassas olduğunun farkına varmamız gerekir.
                        Vitamın ve protein deposu olan çiğ ya da pişmiş yumurta sarısı, abartılı olmayacak şekilde patates, makarna gibi nişasta açısından zengin gıdalar, 
                        aşırı tuzlu ve yağlı olmayan peynirler, hazmı kolaylaştıran havuç, patates ve ciğer üçlüsü,
                         kılçığı ayıklanmış balık (tercihen konserve balık) vb.
                        ev yiyecekleri kedilerin en sevdiği yiyeceklerdir.
                         Kuru mama olarak marka değerlendirmesini başka bir yazımızda irdeleyeceğiz.</p>
                         <p><img class="aligncenter" src="~/resim/kedi6.jpg" width="447" height="397"></p>
                        <ul>
                            <li><span style="color: #ff0000;"><strong>Kedilerin En Sevdiği Müzikler</strong></span></li>
                        </ol>
                        <p style="text-align: justify;">Aslında“Kediler ve Müzik”yazımızda bu konuyu uzunca incelemiştik. 
                        Hatta sadece evcil kedi ve köpeklere özel yapılmış bir albümden bile bahsettik. 
                        Çünkü kedilerin müzikle aralarının çok iyi olduğu gerçeği ortadadır.
                         Yüksek sesten haz almadıklarını ve yüksek sesli ortamdan hemen uzaklaşma eğiliminde olduklarını birçoğumuz biliyoruz.
                         Öncelikle kedinize dinletmek istediğiniz müziğin sesi ne çok kısık ne de çok açık olmalı.
                         En sevdiği müziklere gelirsek; şarkı adı vermeye gerek yok fakat öncelikle şunun farkında olmalısınız:
                        Her kedinin karakteri farklıdır. Dolayısıyla kimi kediler çok yavaş tempodaki slow müziklerden hoşlanır. Kimisi ise daha ritmik, daha hareketli parçalar sever.
                         Bunu keşfetmeniz için de kedinize birden farklı türde şarkı dinletip, hareketlerini gözlemlemeniz gerekir.</p>
                  
                    </div>
<header class="entry-header">
    <h1 class="entry-title">Kedi Sahiplerinin Hayatını Kolaylaştıracak Öneriler</h1>
</header>
<div class="clearfix entry-content">
             <p><img class="aligncenter" src="~/resim/kedi7.jpg" width="447" height="397"></p>
    <ol>
        <li>Her kedinin kendine has kişiliği ve karakteri vardır. Kedinizi tanımaya ve anlamaya çalışın.</li>
        <li>Eğer annesinden yeni ayrılmış bir kedi sahiplenmişseniz; onunla olabildiğince fazla vakit geçirmeye ve şefkat göstermeye özen gösterin.</li>
        <li>Kedinizin evinizdeki mobilyaları tırmalaması, etrafa kusması ya da çiş yapması size ve etrafa zarar vermek istediğini göstermez. 
        Bu nedenler yüzünden ona kızmayın.</li>
        <li>Evcil hayvan sahiplenmek büyük bir sorumluluk ister; tatile çıktığınızda onu evde asla yalnız bırakamayacağınızın bilincinde olmanız gerekir.</li>
        <li>Yavru kedilerin davranışları hakkında yeterli bilgiye sahip olduğunuzdan emin olun.</li>
        <li>Kedilerin de duyguları olduğunu hiçbir zaman unutmayın;
         onlar da kıskanabilir; üzülebilir; stres olabilir; sevinebilir hatta sizi rüyalarında görebilirler.</li>
        <li>“Kediler nankör hayvanlardır.”gibi rivayetlere kulak asmayın. 
        Kedinize karşı her ne hissediyorsanız gerçek odur; ona inanın. 
        Kedinizle aranızdaki bütün tabuları yıktığınızdan emin olun.</li>
        <li>Kedilerin gizli yaşamının keşfine çıkma bir hayli zor ama en az o kadar da eğlencelidir.
         Her kedinin kendisine ait, kendisine özel yarattığı bir dünya vardır. Bencillikleri yadsınamaz özellikleridir.</li>
        <li>Kedilerin dünyasını anlamak için öncelikle duygularını anlamanız gerekir.
         Her miyavlamanın, ısırmanın, hırçın davranışların, oradan oraya koşuşturmaların, 
        garip garip çıkan seslerin, hatta mobilyaların tırmalanmasının bile bir nedeni vardır. 
        Kediler, nedensiz hiçbir şey yapmazlar.</li>
        <li>Tüm dünya benim etrafımda dönüyor edasında evde kendi hâkimiyetini kurmak ister.
         Tek yapmanız gereken; bırakın kendi evinde kendi krallığını kursun.</li>
        <li>Kedinizle aranızdaki ilişkiyi güçlendirmenin yolu, onunla vakit geçirmekten geçer. İşten her ne kadar yorgun da gelseniz,
         kedinize ne kadar vakit ayırırsanız, onunla aranızdaki bağ o kadar güçlenir.</li>
        <li>Kedinizin tıpkı bizler gibi nezle olabileceğini, mide ağrısı çekebileceğini, hazımsızlık yaşayabileceklerini, başlarının ağrıyabileceğini, 
        deri hastalıkları çekebileceğini unutmayın. </li>
        <li>Kedigillerden gelen ve yıllar yıllar önce insanlar tarafından evcilleştirilen minik dostlarımızın hala iyi birer avcı olduklarını unutmayın.
         Avcılık içgüdülerini asla yok edemeyeceğinizin farkında olmalısınız. 
        Ağzında ölü bir kuşla karşınıza gelen kedinize vurmak, bağırmak çok anlamsız olur. 
        Çünkü ona göre kendisi, sahibine hediye vermek isteyen, onunla avını paylaşmak isteyen, görevini başarıyla yerine getirmiş iyi bir evlattır.</li>
        <li>Kediler hayatımıza girdi gireli çok şey değişti. Kediler yalnızlığa, depresifliğe, ruhsal problemlere, üzüntüye; kısacası her derde devalardır.
         Başını okşadığınızda çıkardığı sesle kalbinizi okşar ve fiziki anlamda da iyileştirir. 
        Size çok güvendiğini ve sizi çok sevdiğini söylemeye çalışır.</li>
        <li>Kediler, özellikle de yavru olanları hiperaktiftir, haşindir, oyun için de olsa sizi ısırmak ister, tırnaklarını törpüleme ihtiyaçlarını gidermek için yerler arar, 
        meraklıdır ve yerinde duramazlar,
         hoşuna gitsin ya da gitsin yakınındaki bir eşyayı patisiyle ite ite aşağıya düşmesini izlemeye bayılırlar,
         5 dakika içerisinde salonunuzu savaş alanına çevirebilecek kapasiteye sahiptirler.
         Tüm bu saydıklarımızdan ötürü kedinize bağırmayın ya da kızmayın. Ona vurmanız ya da yüksek sesle bağırmanız, onu daha da sinirlendirmekten başka bir işe yaramaz.</li>
    </ol>
    </div>
<header class="entry-header">
    <h1 class="entry-title">Yavru Kedi Besleme</h1>
</header>
<div class="clearfix entry-content">
    <p><img class="aligncenter" src="~/resim/kedi16.jpg" width="447" height="397"></p>
    <p>Kedileri kısırlaştırarak kedi nüfusunu kontrol altında tutmak için gösterdiğimiz tüm bu çabalara rağmen, 
     bahar aylarında gördüğümüz tüylü bebeklerin bir lütfu varmış gibi hissediyoruz 
     Belki de bu bizim uzun ve sıkıcı geçen kış ayları için ödüllendirilmemiz gibi bir şeydir. 
     Yavru kediler, kış ayları gibi donuk ve sıkıcı değillerdir.
     Aksine içimizi ısıtan, yumuşacık, coşkulu ve baharın enerjisiyle boy gösterirler. 
     Eğer tam da şu anda yeni bir yavru arkadaş edinmek için arayıştaysanız, sizler için bu deneyimi eşsiz ve harika kılacak, size rehber olacak birkaç tavsiyemiz var.
     İlk başlarda biraz uğraşmanız gerekecek, fakat harcayacağınız bu efor, 
    size ve kedinize önünüzdeki uzun yıllarda büyük faydalar getirir.</p>
<ul>
    <li>Alacağınız ilk önemli karar elbette ki evcil hayvan sahipleneceğiniz doğru zamanı belirlemektir.
     Eğer sahipleneceğiniz yavru, 8 haftalıktan daha genç ise, annesiyle kalmalı ve en az 10 haftalık olana dek kardeşleri 
     arkadaşlarıyla vakit geçirmelidir. Yavru kediler, 10 haftalık bu süreçte annesinden ve kardeşlerinden sosyalleşme adına değerli bilgiler öğrenebilir;
    ısırmayı engelleme, doğru oyunlar ve tüm önemli tuvalet alışkanlıkları gibi…</li>
    <li>Yavru kediler, oyun oynamaya bayılırlar ve avcılık onların en sevdiği oyunudur. 
    Eğer av olmak istemiyorsanız, ucunda balık sallanan ipli oyuncak ya da lazer ışığı edinin ve nasıl şevkle oynadıklarını
     büyük bir keyifle izleyin. Eğer oyuncak hareket ederse, pisipisimiz kesinlikle bunu takip edecektir. 
    <li>Eğer gerçekten zeki iseniz,aynı anda 2 yavru kedi sahiplenirsiniz. 
    Bu iki kedi doğal olarak birbirleriyle bağ kuracak ve birlikte oynayacaklardır. 
    Bu da hem size hem de ev halkına ciddi anlamda nefes aldırır. 
    Fakat konu yavru kedilere gelince bu bahsettiğimiz tavsiye çok daha geçerli hale gelir. 
    Çünkü yavru kediler, sürekli oyun oynamak ve sizin onunla ilgilenmenizi isterler.</li>
    <li>Bir başka yavru kedinin en sevdiği spor, 
    Everest Dağı tırmanışı;yani ulaşabileceği yükseklikte olan her yere tırmanmaktır.
    Bu kasları güçlendirme aktivitesi, yavru kediler yüksek atlamayı öğrendiklerinde devreye girer. 
    Kedinin hem tırmanabileceği hem de tırnaklarını törpüleyebileceği bir oyuncak alırsanız büyük ölçüde rahatlarsınız.</li>
    <li>Eğer günde birkaç doz enerji almak kulağınıza pek de eğlenceli gelmiyorsa,
    o zaman en yakın hayvan barınağına gidin ve kucağınıza oturup, mırıltısıyla sizi bütün sorunlardan 
    bir çırpıda kurtarabilecek tatlı, yaşlı bir kedi seçin.
    Yavru kedi size göre değil.</li>
    <li>Eğer hala yavru kedi sahiplenme konusunda ısrarcı davranıyorsanız, kedinizi güvende ve sağlıklı tutabilecek birkaç tavsiyemiz daha var.</li>
    <li>Tıpkı küçük çocuklar gibi yavru kedilerin de yaralanmalardan korunmaya ihtiyacı vardır. 
        Yavru kediler, keşfetmeyi ve onlar için tehlikeli yerlere girmeye bayılırlar. 
    Evinizde sizin bile farkında olmadığınız tehlikeleri gözler önüne serer gibi, 
    tüm bilinmedik gizli yerleri keşfedip, sonra da başlarını belaya sokabilirler.
     Bunun için yavru kedinize sürekli göz kulak olmanız gerekir.</li>
    <li>Yani yavru kedinizin uzun süreli ortadan kaybolmaları açısından onu iyi takip etmeniz gerekir.
     Koltukta uyuya kalma ihtimalinizi sürekli göz önünde bulundurun ve koltuğa oturmadan önce en son 
    kedinizi nerede gördüğünüzü aklınızda tutun. 
    Yavru kedinizi küçücük bir alanda sıkışmış ya da üzerine kablolar sarılı bir halde bulabilirsiniz. 
    Onları sürekli takibinizde tutamayacak durumdaysanız eğer, ihtiyaç duyduğu şeylerin
     (yemek, su, tuvalet kabı, güvenli oyuncaklar, tırmalama ve tırmanma yapabilecekleri bir şey) de içinde bulunduğu büyük bir köpek kulübesinin içine koyabilirsiniz.</li>
    <li>Yavru kedinizi 7 aylık olmadan kısırlaştırmayı planlamalısınız; 
    geç kalınmış bir kısırlaştırma idrar problemlerine yol açabilir. 
    Bu kısırlaştırma ameliyatının gerekli ve sağlıklı olduğunu unutmayın. 
    Veterinerinizle konuşun ve gün belirleyin; ne kadar erken o kadar iyi…</li>
</ul>

</div>