﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<ul>
    <li>@Html.ActionLink("turkce","Change","language",new{languageabbrevation="tr"},null)
    </li><li>@Html.ActionLink("English", "Change", "language", new { languageabbrevation = "en" }, null)</li>
    <li>@DateTime.Now.ToString()</li>
</ul>

