﻿@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        E-postanızı teyit ettiğiniz için teşekkür ederiz. Lütfen @Html.ActionLink("Giriş yapmak için tıklayınız", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
