﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <title>@ViewBag.Title - KediEvi</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-> 
        <div class="container">
            <div class="navbar-header">
                <img src="~/resim/kedilogo.jpg" alt="KEDİ EVİ" class="img-rounded" height="50" with="50" border="0">
                <b>@Html.ActionLink(ayku.cokludil.dil.KEDİEVİ, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</b>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" >
                    
                    <li>@Html.ActionLink(ayku.cokludil.dil.Kedilerhakkında, "kedilerhakkinda", "Home")</li>
                    <li>@Html.ActionLink(ayku.cokludil.dil.KediShop, "kedishop", "Home")</li>
                    <li>@Html.ActionLink(ayku.cokludil.dil.Barınaklar, "barinaklar", "Home")</li>
                    <li>@Html.ActionLink(ayku.cokludil.dil.Hakkımızda, "About", "Home")</li>
                    <li>@Html.ActionLink(ayku.cokludil.dil.İletişim, "iletisim", "iletisim")</li>
                    <li>@Html.ActionLink(ayku.cokludil.dil.Dİl,"Index","LANGUAGE")</li>
                    @if (Session["adsoyad"] == null)
                    {
                        <li>@Html.ActionLink("Üye Kayıt", "UyeEkle", "Uyeler")</li>
                        <li>@Html.ActionLink("Giriş", "Index", "UyeGiris")</li>
                    }
                    else
                    {
                        <li><br /><font style="color:white">HOŞGELDİN <b>@Session["adsoyad"]</b></font></li>
                        if (Session["admin"] != null)
                        {
                            <li>@Html.ActionLink("Admin Paneli", "Index", "Uyeler")</li>                          
                            <li>@Html.ActionLink("Çıkış", "Cikis", "UyeGiris")</li>
                        }
                        else
                        { 
                        <li>@Html.ActionLink("Ürün İstek Formu", "Index", "urunIstek")</li>
                        <li>@Html.ActionLink("Çıkış", "Cikis", "UyeGiris")</li>
                        }  
                    }      
                </ul>
                
            </div>
        </div>

    
   
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - KEDİ EVİ</p>
        </footer>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-buttom>
        <div class=" container">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="https://www.facebook.com/Kedi-diyar%C4%B1-357124467802143/" target=new><img src="http://in.sitekodlari.com/fb/facebook6.png"height="30" border="0"></a>
            <li><a href="https://www.instagram.com/kedi_sahiplendirme/" target=new><img src="http://in.sitekodlari.com/insta/4.png" height="30" border="0"></a>
            <li><a href="https://twitter.com/KediSahiplendir" target=new><img src="http://in.sitekodlari.com/tw/8.png" height="30" border="0"></a>
        </ul>
    </div>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
