﻿@{
    ViewBag.Title = "HAKIMIZDA";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Sayfamızda kedi sahibi olanların ve olmak isteyenler için yardımcı olabileceğini düşündüğümüz bilgiler bulunmaktadır.
    Ayrıca Barınaktaki dostlarımıza yardım eli uzatmanız için Şehrinizdeki barınakların listeside barınaklar bolumümüzde bulunuyor. </p>
<p>Kedi sahipleri olanlar için küçük çağlı süs eşylarımız vardır.İzlerken eğlenebileciğiniz videolarımız sayesinde canınız sıkıldığında onları izleyerek keyfiniz yerine gelebilir.
    </p><p> Umarım  verdğimiz bilgiler sizlerin ve hayvan dostlarımızın mutluluğuna etki etmiştir...</p>